form {
    border: 1px dashed white;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 5px;
  }
  form > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  input, select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: black;
    color: white;
  }

  .AddCharacter-button {
    background-color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    width: fit-content;
    width: -moz-fit-content;
    color: black;
    cursor: pointer;
  }
  
  .AddCharacter-button :hover {
    opacity: 0.8;
    transition: 1s;
  }

  .AddCharacter-classes {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
  }

  .AddCharacter-classes button {
    width: 100px;
    height: auto;
    overflow: hidden;
  }

  .AddCharacter-details {
    opacity: 0.6;
  }

  .AddCharacter-skillsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 15px
  }

  
  .AddCharacter-skillsContainer li {
    border: 1px solid white;
    border-radius: 5px;
    padding: 0 10px 10px 10px;
    text-align: center;
  }

